<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <h1><a href="/">User Management</a></h1>
    </header>

    <main id="main-site">
        <div class="container">

            <a href="/" class="btn btn-outline-dark">
                All users<i class="fas fa-user"></i>
            </a>
        </div>
        <h2>Edit User</h2>
        <form id="update-user">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="hidden" name="id" value="<%=userData._id%>">
                <input type="text" name="username" class="form-control" value="<%=userData.username%>" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control" value="<%=userData.password%>" id="password">
            </div>
            <div class="form-group">
                <label for="admin">Admin</label>
                
                <% if (userData.isAdmin) { %>
                    <input type="checkbox" name="isAdmin" checked id="admin">
                <% } else { %>
                    <input type="checkbox" name="isAdmin" id="admin">
                <% } %>
            </div>
            <div class="form-group">
                
                <button type="submit" class="btn btn-success btn-block submit">Save</button>
            </div>
        </form>
        

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- path defined in server.js -->
    <script src="js/index.js"></script>
</body>
</html>