header {
    text-align: center;
    background-color: rgb(122, 218, 142);
}

.table {
    width: 50%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.submit {
    width: 100%;
    
}

a {
    text-decoration: none;
    color: black;
    
}

.form-group {

    margin: 1em auto;
    width: 100%;
    
}

#update-user {
    padding-top: 2em;
    width: 50%;
    margin: 0 auto;
}

#add-user {
    padding-top: 2em;
    width: 50%;
    margin: 0 auto;
}

.container {
    width: 50%;
    margin: 0 auto;
}

